<div class="container">
  <header><img src="https://www.nationalparks.org/sites/default/files/styles/large_list_image_2x/public/Acadia_iStock_000002062946.jpg?itok=t9JPKAN9&amp;timestamp=1471548671"
                alt=""
                title=""
                width="960"
                height="500"
                class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h1><%=@user.name.split(" ").first%>'s trip to <%=@trip.park.name%></h1>
    <br>
    <div class="content">
    <h3>Visited: <%=@trip.visit_date%></h3>
    <p>Review:<br>
      <%=@trip.review%></p>
  </div>
</div>
</div>
