@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  body {
    background-color: black;
    color: white;
    font-family: Sans-Serif;
    line-height: 18px;
  }


  h1 {
    border-bottom: 2px solid #ccc;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  button {
    display: inline-block;
    background-color: #333;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    color: white;
    border: 1px solid black;
  }

  .img-responsive {
    border: 5px solid #424242;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #333;
    padding: 10px;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    color: #424242;
    padding: 10px 0;
    font-size: 15px;
  }
  a.btn {
    display: inline-block;
    padding: 10px;
    background-color: #333;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    color: white;
    border: 1px solid black;
  }
  .col-md-8 {
    text-align: center;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background-color: #7C7C7C;
    color: black;
    border: 1px solid #424242;
    float: right;
    margin-right: 37px;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 31%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {


  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background-color: #7C7C7C;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

}
