<div class="container">
  <header><img src="https://upload.wikimedia.org/wikipedia/commons/5/5d/Mountain_Range_Banner.jpg"
    alt=""
    title=""
    width="960"
    height="150"
    class="img-responsive main-image">
    <center><h1>Welcome to Park Hopper!</h1></center>
  </header>

  <style>
    .parallax {
      /* The image used */
      background-image: url("https://imagesofrmnp.com/images/xl/The-Oasis.jpg");

      /* Set a specific height */
      height: 500px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
</style>


<!-- Container element -->
<div class="parallax"></div>

<div class="col-md-8 col-md-offset-2">
  <center><h2>Check out these mountains!</h2></center>
  <br>
  <div class="sidebar">
    <h3>Login!</h3>
    <form action="/login" method="post">
      <p>Email:<br>
      <input type="text" id="user[email]" name="user[email]"</p>
      <p>Password:<br>
      <input type="password" id="user[password]" name="user[password]"</p>
      <button type="submit" value="submit">Submit</button>
    </form><br>
    <h3>...or Sign-up!</h3>
    <form method="post" action="/users/signup">
      <p>Name:<br>
        <input type="text" name="user[name]"</p>
      <p>Email:<br>
        <input type="text" name="user[email]"</p>
      <p>Password:<br>
        <input type="password" name="user[password]"</p>
      <button type="submit" value="submit">Submit</button>
    </form>
  </div>

<div class="parallax"></div>
<h3> and login...</h3>


</div
</div>
