<style>
  .parallax {

    background-image: url("https://imagesofrmnp.com/images/xl/The-Oasis.jpg");


    height: 500px;


    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 70px solid black;
  }
</style>
<div class="container">
  <header>
    <img src="http://localhost:9393/images/ParkHopper.jpg"
      alt=""
      title=""
      width="1430"
      height="225"
      class="img-responsive main-image">
  </header>




<div class="sidebar">
  <h2>Sign Up</h2>
  <form action="/signup" method="post">
    <p>Name:<br>
    <input type="text" name="user[name]" required</p>
    <p>Email:<br>
    <input type="text" id="user[email]" name="user[email]" required</p>
    <p>Password:<br>
    <input type="password" id="user[password]" name="user[password]" required</p>
    <br>
    <br>
    <button><a class="btn" type="submit" value="submit">Sign Up</a></button>
  </form>
</div>
<div class="parallax"></div>


  <center><h2>National Parks e-passport</h2></center>
  <br>
  <br>
</div>
