<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center><h3>Misadventure! Try that again.</h3></center>

<center><img src="https://media.tenor.com/images/99ddc2d77fe3f70f3aae5ce08d6b1dc3/tenor.gif";
     height="300px";
     width="300px";>
</center>
<br>
<br>
<%if !logged_in?%>
  <center><h4>You aren't currently logged in. Log In or Signup here:</h4>
    <br>
  <a class="btn" href="/">Login/Sign-up</a></center>
<%end%>
<br>
<br>
<br>
<br>
<br>
